{% extends "network/layout.html" %}
{% block body %}
{% if user.is_authenticated %}
  <div id="newPostDiv">
      <h1>New Post: </h1>
        <form id="newPost" action="{% url 'createPost' %}"  method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea id="newPostText" name="newPostText" placeholder="What's on your mind?"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
            <br><br>
        </form>
  </div>
  <br>
  <br>
{% for post in allPosts %}
<div class="card border-secondary mb-3 post-object{{post.id}}">
  <h5 class="card-header"><a href="{% url 'profile' user=post.user.id %}">{{post.user}}</a>
    {% if request.user == post.user %}
    <div class="delete-edit-panel">
      <div class="dropdown">
          <a class="btn icon-button" href="#" role="button" id="dropdownMenuLink_{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="rgb(101, 103, 107)" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_{{ post.id }}">
              <button class="dropdown-item dropdown-edit" data-toggle="modal" data-target="#edit">Edit</button>
          </div>
      </div>
  </div>
  <div class="modal fade modal-edit" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content new-post-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit publication</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method=post action="{% url 'edit' postId=post.id %}">
                {% csrf_token %}
                <textarea rows="10" class="form-control textarea-edit" name="textarea">{{post.text}}</textarea>
                <br>
                <div class="modal-footer">
                    <button class="btn btn-outline-dark save edit-post" data-catid="{{post.id}}" type="submit" value="Save"><i class="fa fa-check-square-o"></i>Edit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
    {% endif %}
  </h5>
  
  <div class="card-body text-secondary">
    <h6 class="card-subtitle mb-2 text-muted">{{post.date}}</h6>
    <p class="card-text post-object-content{{post.id}}">{{post.text}}</p>
  </div>
</div>
  {% endfor %}
  {% endif %}
  <div class="container">
    <ul class="pagination justify-content-center">
        {% if allPosts.has_previous %}
            <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
            <li class="page-item"><a href="?page={{ allPosts.previous_page_number }}" class="page-link">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
            

        {% if allPosts.number %}
        <li class="page-item"><a class="page-link">{{ allPosts.number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link">0</a></li>
        {% endif %}
        {% if allPosts.has_next %}
        <li class="page-item"><a href="?page={{ allPosts.next_page_number }}" class="page-link">Next</a></li>
        <li class="page-item"><a href="?page={{ allPosts.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link">Next</a></li>
        <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}